@page "/optionvaluedata/{Id:int}"
@attribute [Authorize]
@using BlazorWithIdentity.Shared
@inject HttpClient Http
@using BlazorWithIdentity.Shared.DTO.Option
@using BlazorWithIdentity.Shared.DTO.OptionValue

<FluentDesignSystemProvider>
<div class="row row-sm">
<div class="container">
    <FluentCard >
   <FluentAnchor  Href="@($"option")" Appearance="Appearance.Stealth"><span style="color:green;" class="glyph glyph-back"></span></FluentAnchor> 
 <EditForm class="form-category" OnValidSubmit="OnSubmitOptionValue" Model="saveOptionValueDTO">
         
   
         
     

          @if(options == null) 
          {
              <p><a href="/options">Insert</a> a new category </p>
          } else {
               <div class="col-md-12">
             @if (testValue == null) {} 
              else
                {
                    int bindValue;
                    int.TryParse(testValue, out bindValue);
                    saveOptionValueDTO.OptionId = bindValue;

                 }
                            <FluentSelect  class="form-control" id="options" @bind-Value="testValue">
                       <FluentOption Value="">Blank</FluentOption>                            
                @foreach (var item in options)
                {
                                                       
                <FluentOption Value="@item.Id.ToString()">@item.OptionName</FluentOption>
                }
               </FluentSelect>
                 </div>                                 
           }

               
                  <div class="col-md-12">
         
      </div>
                <div class="col-md-12">
                    <p>Option</p>
                    <FluentTextField id="inputCategory"  @bind-Value="saveOptionValueDTO.OptionValueName"  Current-Value="@optionValueItem.OptionValueName"  ></FluentTextField>
                    <ValidationMessage class="text-danger" For="@(() => saveOptionValueDTO.OptionValueName)" />


                </div>

                <div class="col-md-12">
                    <FluentButton type="submit" Appearance="Appearance.Accent">Submit</FluentButton>
                    <label class="text-danger">@error</label> 

                </div>



            </EditForm>
        </FluentCard>
    </div>

</div>

</FluentDesignSystemProvider>




@code {
    [Parameter]
    public int Id { get; set; }
    string error { get; set; }
    public string testValue = ""; 


    OptionValueDTO optionValueItem { get; set; } = new OptionValueDTO();
    SaveOptionValueDTO saveOptionValueDTO { get; set; } = new SaveOptionValueDTO();





    [Inject]
    public IOptionValueDataService OptionValueDataService { get; set; }
    [Inject]
    public IOptionDataService OptionDataService { get; set; }

    async Task OnSubmitOptionValue()
    {
        error = null;
        try
        {
            await OptionValueDataService.UpdateOptionValue(Id, saveOptionValueDTO);
            toastService.ShowToast($"{saveOptionValueDTO.OptionValueName} added Succesfuly", ToastLevel.Success);
             StateHasChanged();
               await OnInitializedAsync();
            navigationManager.NavigateTo("/optionvalue");



        }
        catch (Exception ex)
        {
            error = ex.Message;
            toastService.ShowToast($"{saveOptionValueDTO.OptionValueName} failed to add", ToastLevel.Error);
        }
    }
    @functions {
       private OptionDTO[] options { get; set; }
      protected override async Task OnInitializedAsync()
    {
          options = await OptionDataService.GetOptions();
            optionValueItem = await OptionValueDataService.GetOptionValueById(Id);
            
          // dataList = await CategoryDataService.GetCategories();
            // toastService.ShowToast($"Items loaded succesfuly", ToastLevel.Info);
    }

      
    }
}
