@page "/productsku"

@attribute [Authorize]

@inject IdentityAuthenticationStateProvider authStateProvider

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@using BlazorWithIdentity.Shared.DTO.Category
@using BlazorWithIdentity.Shared.DTO.OptionValue
@using BlazorWithIdentity.Shared.DTO.Product
@using BlazorWithIdentity.Shared.DTO.ProductSku
@using BlazorWithIdentity.Shared.DTO.SkuValue


 <div class="row">
 <div class="container">
   <h6>Price </h6>
   <div class="col-md-12">
    <FluentCard  style="height:50%">  
    
   
      @if (productSkus == null)
         {
            
             <ol class="list-items">
        <li class="list-items-row">
            <div class="row">
                <div class="col-md-24"><h6>Nothing to display</h6></div>
                </div> </li></ol>
               
          }
        
         else
         {
            
                   <ol class="list-items">
                     <li class="list-items-row">
                            <div class="row">
                              <EditForm class="form-category" OnValidSubmit="OnSubmit" Model="saveProductSkuDTO">
                                  <div class="col-md-24">
                                      <div class="col-md-12">
                                          <p>Choose Category</p>
                                               <InputSelect  class="form-control" id="optionValue" @bind-Value="saveProductSkuDTO.SkuValueId">
                                                  
                                                    @foreach (var item in skuValues)
                                                    {
                                                       
                                                      
                                                     <option value="@item.Id">
                                                         @item.OptionValue.Option.Product.ProductName
                                                         @item.OptionValue.OptionValueName  @item.SkuValueName 
                                                         
                                                         </option>

                                                     
                                                }
                                                </InputSelect>
                                               
                                                <br/>
                                      </div>
                                      <div class="col-md-12"></div>
                                     
                                  </div> 
                                  
                                  <div class="col-md-12">
                                       
                                              
                                                   
                                                        <input id="inputCategory" type="number" class="form-control"  @bind="saveProductSkuDTO.Price"  placeholder="Price"  />
                                                            <ValidationMessage class="text-danger" For="@(() => saveProductSkuDTO.Price)" />

                                                     </div>
                                                     <div class="col-md-12">
                                                        <FluentButton type="submit" Appearance="Appearance.Accent">Submit</FluentButton>
                                                    
                                                      <label class="text-danger">@error</label> 
                                                 </div>
                                         
                                   </EditForm>
                           </div>
                     </li>
                      @foreach (var item in productSkus)
                        {
                                <li class="list-items-row">
                                    <div class="row">
                                <div class="col-md-16">
                                    <ol class="breadcrumb">
                                      <li>KES @item.Price</li>
                                      <li>@item.SkuValue.OptionValue.Option.Product.ProductName</li>
                                      <li>@item.SkuValue.OptionValue.OptionValueName</li>
                                      <li class="active"> @item.SkuValue.SkuValueName</li>
                                    </ol>

                                </div>
               
                <div class="col-md-4">
                   <NavLinkFluentAnchor  Href="@($"productskudata/{item.Id}")" Appearance="Appearance.Stealth"><span style="color:green;" class="glyph glyph-edit"></span></NavLinkFluentAnchor> 
                 
                </div>
                 <div class="col-md-4">
                    <FluentButton type="submit"   @onclick="(() => DeleteProductSku(item.Id))" Appearance="Appearance.Stealth"><span style="color:red;" class="glyph glyph-delete"></span></FluentButton>
                </div>
            </div>
        </li>
        }
                     </ol>

}
             </FluentCard>

     </div>
     <div class="col-md-12"> </div>
 </div>
 </div>


@code{

    // private SuccessNotification _notification;

     [Parameter]
    public int Id { get; set; }
    SaveProductSkuDTO saveProductSkuDTO { get; set; } = new SaveProductSkuDTO();
    string error { get; set; }

    ProductSkuDTO productSkuValueDTO { get; set; } = new ProductSkuDTO();
  //  ProductCategoryDTO productCategoryDTO { get; set; } = new ProductCategoryDTO();
   
     [Inject]
    public IProductSkuDataService ProductSkuDataService { get; set; }

      [Inject]
    public ISkuValueDataService SkuValueDataService { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await ProductSkuDataService.CreateProductSku(saveProductSkuDTO);
            toastService.ShowToast($"{saveProductSkuDTO.Price} added Succesfuly", ToastLevel.Success);
            StateHasChanged();
             await OnInitializedAsync();
            navigationManager.NavigateTo("/product");
            
           

        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
  

  

  @functions {


        private ProductSkuDTO[] productSkus { get; set; }
        private SkuValueDTO[] skuValues { get; set; }


    protected override async Task OnInitializedAsync()
    {
       productSkus = await ProductSkuDataService.GetProductSkus();
       skuValues = await SkuValueDataService.GetSkuValues();


      // toastService.ShowToast($"Items loaded succesfuly", ToastLevel.Info);
    }

    protected async Task DeleteProductSku(int Id)
        {
          await ProductSkuDataService.DeleteProductSku(Id);
          toastService.ShowToast($"Item({Id}) deleted succesfuly", ToastLevel.Success);
            StateHasChanged();
            await OnInitializedAsync();
            //  StatusClass = "alert-success";
          //  Message = "Deleted successfully";

           // Saved = true;
        }

 
  }


     




}

 
