

@page "/product"

@attribute [Authorize]

@inject IdentityAuthenticationStateProvider authStateProvider

@using System.Net.Http
@using System.Net.Http.Json
@using System.Threading.Tasks
@inject HttpClient Http
@using BlazorWithIdentity.Shared.DTO.Category
@using BlazorWithIdentity.Shared.DTO.Product


 <div class="row">
 <div class="container">
   <h6>Product Name</h6>
   <div class="col-md-12">
    <FluentCard  style="height:50%">  
    
   
      @if (products == null)
         {
            
             <fluent-progress-ring></fluent-progress-ring>
               
          }
        
         else
         {
            
                   <ol class="list-items">
                     <li class="list-items-row">
                            <div class="row">
                              <EditForm class="form-category" OnValidSubmit="OnSubmit" Model="saveProductDTO">
                                  <div class="col-md-24">
                                      <div class="col-md-12">
                                          <p>Choose Category</p>
                                               <InputSelect  class="form-control" id="category" @bind-Value="saveProductDTO.ProductCategoryId">
                                                  
                                                    @foreach (var item in categories)
                                                    {
                                                        <option value="@item.Id">@item.Name</option>
                                                    }
                                                </InputSelect>
                                               
                                                <br/>
                                      </div>
                                      <div class="col-md-12"></div>
                                     
                                  </div> 
                                  
                                  <div class="col-md-12">
                                       
                                              
                                                   
                                                        <FluentTextField id="inputCategory"  @bind-Value="saveProductDTO.ProductName"  placeholder="New Product"  ></FluentTextField>
                                                            <ValidationMessage class="text-danger" For="@(() => saveProductDTO.ProductName)" />

                                                     </div>
                                                     <div class="col-md-12">
                                                        <FluentButton type="submit" Appearance="Appearance.Accent">Submit</FluentButton>
                                                    
                                                      <label class="text-danger">@error</label> 
                                                 </div>
                                         
                                   </EditForm>
                           </div>
                     </li>
                      @foreach (var item in products)
                        {
                                <li class="list-items-row">
                                    <div class="row">
                                <div class="col-md-16">
                                    <ol class="breadcrumb">
                                      <li><a href="categorydata/@item.ProductCategory.Id"> @item.ProductCategory.Name</a></li>
                                      <li class="active"> @item.ProductName</li>
                                    </ol>

                                </div>
               
                <div class="col-md-4">
                   <fluent-anchor  Href="@($"productdata/{item.Id}")" Appearance="Appearance.Stealth"><span style="color:green;" class="glyph glyph-edit"></span></fluent-anchor> 
                 
                </div>
                 <div class="col-md-4">
                    <FluentButton type="submit"   @onclick="(() => DeleteProduct(item.Id))" Appearance="Appearance.Stealth"><span style="color:red;" class="glyph glyph-delete"></span></FluentButton>
                </div>
            </div>
        </li>
        }
                     </ol>

}
             </FluentCard>

     </div>
     <div class="col-md-12"> </div>
 </div>
 </div>


@code{

    // private SuccessNotification _notification;

     [Parameter]
    public int Id { get; set; }
    SaveProductDTO saveProductDTO { get; set; } = new SaveProductDTO();
    string error { get; set; }

    ProductDTO productDTO { get; set; } = new ProductDTO();
  //  ProductCategoryDTO productCategoryDTO { get; set; } = new ProductCategoryDTO();
   
     [Inject]
    public IProductDataService ProductDataService { get; set; }

      [Inject]
    public ICategoryDataService CategoryDataService { get; set; }

    async Task OnSubmit()
    {
        error = null;
        try
        {
            await ProductDataService.CreateProduct(saveProductDTO);
            toastService.ShowToast($"{saveProductDTO.ProductName} added Succesfuly", ToastLevel.Success);
            StateHasChanged();
             await OnInitializedAsync();
            navigationManager.NavigateTo("/product");
            
           

        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
  

  

  @functions {


        private ProductDTO[] products { get; set; }
        private ProductCategoryDTO[] categories { get; set; }


    protected override async Task OnInitializedAsync()
    {
       products = await ProductDataService.GetProducts();
       categories = await CategoryDataService.GetCategories();


      // toastService.ShowToast($"Items loaded succesfuly", ToastLevel.Info);
    }

    protected async Task DeleteProduct(int Id)
        {
          await ProductDataService.DeleteProduct(Id);
          toastService.ShowToast($"Item({Id}) deleted succesfuly", ToastLevel.Success);
            StateHasChanged();
            await OnInitializedAsync();
            //  StatusClass = "alert-success";
          //  Message = "Deleted successfully";

           // Saved = true;
        }

 
  }


     




}

 
