@page "/skuvaluedata/{Id:int}"
@attribute [Authorize]
@using BlazorWithIdentity.Shared
@inject HttpClient Http

@using BlazorWithIdentity.Shared.DTO.OptionValue
@using BlazorWithIdentity.Shared.DTO.SkuValue


<div class="row row-sm">
<div class="container">
    <FluentCard >
    <FluentAnchor  Href="@($"optionvalue")" Appearance="Appearance.Stealth"><span style="color:green;" class="glyph glyph-back"></span></FluentAnchor> 
 <EditForm class="form-category" OnValidSubmit="OnSubmitSkuValue" Model="saveSkuValueDTO">
         
    
        
     
         
      <div class="col-md-24">
           <div class="col-md-12">
          @if(optionValues == null) 
          {
              <p><a href="/optionvalue">Insert</a> a new option value </p>
          } else {
               @if(testValue == null) {}
                        else
                        {
                            int bindValue;
                            int.TryParse(testValue, out bindValue);
                            saveSkuValueDTO.OptionValueId = bindValue;
                        }
                        <FluentSelect  class="form-control" id="options" @bind-Value="testValue">
                                                  
                                                    @foreach (var item in optionValues)
                                                    {
                                                       
                                                        <FluentOption Value="@item.Id.ToString()">@item.OptionValueName</FluentOption>
                                                    }
                                                </FluentSelect>
                                                 <p>Option Value</p>
           }

                </div>
                </div>
                <div class="col-md-12">

                    <FluentTextField id="inputCategory" Current-Value="@skuValueItem.SkuValueName"  @bind-Value="saveSkuValueDTO.SkuValueName"   ></FluentTextField>
                    <ValidationMessage class="text-danger" For="@(() => saveSkuValueDTO.SkuValueName)" />


                </div>

                <div class="col-md-12">
                    <FluentButton type="submit" Appearance="Appearance.Accent">Submit</FluentButton>
                    <label class="text-danger">@error</label> 

                </div>



            </EditForm>
        </FluentCard>
    </div>

</div>






@code {
    [Parameter]
    public int Id { get; set; }
    private string testValue = "";
    string error { get; set; }


    SkuValueDTO skuValueItem { get; set; } = new SkuValueDTO();
    SaveSkuValueDTO saveSkuValueDTO { get; set; } = new SaveSkuValueDTO();





    [Inject]
    public IOptionValueDataService OptionValueDataService { get; set; }
    [Inject]
    public ISkuValueDataService SkuValueDataService { get; set; }

    async Task OnSubmitSkuValue()
    {
        error = null;
        try
        {
            await SkuValueDataService.UpdateSkuValue(Id, saveSkuValueDTO);
            toastService.ShowToast($"{saveSkuValueDTO.SkuValueName} added Succesfuly", ToastLevel.Success);
             StateHasChanged();
               await OnInitializedAsync();
            navigationManager.NavigateTo("/skuvalue");



        }
        catch (Exception ex)
        {
            error = ex.Message;
            toastService.ShowToast($"{saveSkuValueDTO.SkuValueName} failed to add", ToastLevel.Error);
        }
    }
    @functions {
       private OptionValueDTO[] optionValues { get; set; }
      protected override async Task OnInitializedAsync()
    {
          optionValues = await OptionValueDataService.GetOptionValues();
            skuValueItem = await SkuValueDataService.GetSkuValueById(Id);
            
          // dataList = await CategoryDataService.GetCategories();
            // toastService.ShowToast($"Items loaded succesfuly", ToastLevel.Info);
    }

      
    }
}
